body{
    background-color: rgb(61, 55, 55);
    color: white;
    margin-right: 2px;
}

.form-group{
    padding: 2px;
    margin: 5px;
    
}
.form-label{
    padding:5px;
}

.form {
    display: block;
    /* justify-content: center; */
    box-shadow: 10px 8px 7px 5px #000;
}

h1{
    text-align: center;
}

#formLogin{
    display: flex;
    justify-content: center;
}

#divBotao{
    display: flex;
    justify-content: center;
}

.btn{
    text-decoration: none;
    border-radius: 5px;
    padding: 3px;

    font-weight:100;
    color:white ;
    background: rgb(57, 57, 63);
    box-shadow: 4px 3px 2px 1px #000;
    
}

.btn:active{
    box-shadow: none;
}

div .form Input{
    margin-top:0px;
    padding-top: 10px;
}

div .form Input{
    margin-top:0px;
    box-shadow: 0 0 0 0;
    outline: 0;
    padding: 5px;
    border-radius: 10px;
    /*Borda dos inputs*/
    border-style:solid;
    box-shadow: 1.1px 1.8px 1.9px 2.2px;
    
}